body {
    padding: 10px;
    padding-top: 0px;
    padding-right: 40px;
    font-family: Montserrat, Verdana, Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

table, pre {
    width: 98%;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}

.table th, .table td {
    vertical-align: middle;
    white-space: nowrap;
}

.align_right {
    text-align: right;
}
.align_center {
    text-align: center;
}
.full_width {
    width: 100%;
}
.menu_button {
    height: 55px;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.input_edit {
    padding: 5px;
    vertical-align: middle;
    font-family: Montserrat, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.label-text {
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    background-color: rgb(255, 200, 33);
    color: #4a3d15;
    vertical-align: middle;
    font-family: Montserrat, "Gill Sans MT", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 0px;
}
.data-text {
    padding: 5px;
    width: 100%;
    background-color: #faf8f2;
    color: #0f0505;
    vertical-align: middle;
    font-family: Montserrat, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    border: 1px solid #ffc821;
    margin-bottom: 17px;
}


.Main-Text:hover + .Extra-Text {
    display: block;
}
.Extra-Text {
    background-color: #FFFFFF;
    width: 80px;
    border: 1px solid #cd1f2d;
    padding: 3px;
    text-align: center;
    font-size: 12pt;
    display: none;
    z-index: 1;
    position: absolute;
}

.padding-5 {
    padding: 5px;
}
.padding-15 {
    padding: 15px;
}

.hidden {
    opacity: 0;
    position: absolute;
    left: -999px;
}

.hidden-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    all: revert;
    padding: 10px;
    border-radius: 5px;
}

legend {
    all: revert;
    padding: 5px;
}