{% extends "base.html" %}
{% block title %}Vender Item{% endblock %}
{% block page_header %}Vender Item a associado{% endblock %}
{% block content_in_div %}
    <form method="post" action="create">
        <table class="full_width table table-bordered">
            <tr>
                <td class="label-text align_right">Associado</td>
                <td>{{ selector("member_id", members, "member_id", "name", member_id, order_by="name") }}</td>
            </tr>
            <tr>
                <td class="label-text align_right">Item</td>
                <td>{{ selector("item_id", items, "item_id", "name", item_id, order_by="category.name,name", group_category="category_id", group_label="category.name") }}</td>
            </tr>
            <tr>
                <td class="label-text align_right">Quantidade</td>
                <td><input class="form-text input_edit" type="number" size="20" id="quantity" name="quantity" placeholder="Quantidade" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Preço total</td>
                <td><input class="form-text input_edit" type="number" step="0.01" size="20" id="total_price" name="total_price" placeholder="Preço total de compra" value="{{ item_base_price }}" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">V.D.</td>
                <td><input class="form-text input_edit" type="checkbox" id="is_cash" name="is_cash"></td>
            </tr>
            <tr>
                <td class="label-text align_right">Data de venda</td>
                <td><input class="form-text input_edit" type="date" size="10" id="purchase_date" name="purchase_date" placeholder="{{ today }}" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Notas</td>
                <td><textarea class="form-text input_edit" rows="3" cols="81" id="notes" name="notes" placeholder="Notas de venda do Item"></textarea></td>
            </tr>
            <tr>
                <td class="align_center" colspan="2">
                    <button class="btn btn-primary mb-2" type="submit">Criar nova venda</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}