        <div class="card">
            <div class="card-body">
                <form method="get" action="{{ form_action }}">
                    <input class="hidden" type="checkbox" id="do_filter" name="do_filter" checked>
                    <table>
                        <tr>
                            <td class="padding-5"><label class="form-check-label" for="since">Filtrar por data desde</label></td>
                            <td class="padding-5"><input class="form-text" type="month" size="10" id="since" name="since" placeholder="2024-01" value="{{ since }}"></td>
                        </tr><tr>
                            <td class="padding-5"><label class="form-check-label" for="until">Filtrar por data até</label></td>
                            <td class="padding-5"><input class="form-text" type="month" size="10" id="until" name="until" placeholder="2024-12" value="{{ until }}"></td>
                        </tr><tr>
                            <td class="padding-5"><label class="form-check-label" for="just_download">Download de ficheiro</label></td>
                            <td class="padding-5"><input class="form-check-input" type="checkbox" id="just_download" name="just_download"></td>
                        </tr><tr>
                            <td class="padding-5"><button class="btn btn-primary mb-2" type="submit">Filtrar por datas</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>