{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block page_header %}{{ username }}{% endblock %}
{% block icon_href %}login/{% endblock %}
{% block content_in_div %}
        <table class="full_width">
            <tr>
                <td class="padding-15">
                    <fieldset>
                    <legend>Gestão de Associados, quotas e donativos</legend>
                        <a href="members/create"><label class="label-text menu_button">Criar novo Associado</label></a>
                        <br><br>
                        <a href="members/"><label class="label-text menu_button">Pesquisa de Associados</label></a>
                        <br><br>
                        <a href="dues_payments/"><label class="label-text menu_button">Gestão de quotas mensais</label></a>
                    </fieldset>
                </td><td class="padding-15">
                    <fieldset>
                    <legend>Gestão de Items</legend>
                        <a href="categories/create"><label class="label-text menu_button">Criar nova Categoria</label></a>
                        <br><br>
                        <a href="categories/"><label class="label-text menu_button">Pesquisa de Categorias</label></a>
                        <br><br>
                        <a href="items/"><label class="label-text menu_button">Pesquisa de Items</label></a>
                    </fieldset>
                </td><td class="padding-15">
                    <fieldset>
                    <legend>Gestão de Vendedores</legend>
                        <a href="sellers/create"><label class="label-text menu_button">Criar Vendedor</label></a>
                        <br><br>
                        <a href="sellers/"><label class="label-text menu_button">Pesquisa de Vendedores</label></a>
                        <br><br>
                        <a href="expense-accounts/create"><label class="label-text menu_button">Criar nova Rubrica</label></a>
                        <br><br>
                        <a href="expense-accounts/"><label class="label-text menu_button">Pesquisa de Rubricas</label></a>
                    </fieldset>
                </td>
            </tr><tr>
                <td class="padding-15">
                    <fieldset>
                    <legend>Gestão Financeira - quotas</legend>
                        <a href="member_due_payment/pivot_table"><label class="label-text menu_button">Tabela pivot de associados e quotas</label></a>
                        <br><br>
                        <a href="member_due_payment/"><label class="label-text menu_button">Lista de pagamentos de quotas</label></a>
                        <br><br>
                        <a href="members/donations"><label class="label-text menu_button">Lista de donativos</label></a>
                    </fieldset>
                </td>
                <td class="padding-15">
                    <fieldset>
                    <legend>Gestão Financeira - compras</legend>
                        <a href="sellers-items/"><label class="label-text menu_button">Pesquisa de compras a Vendedores</label></a>
                        <br><br>
                        <a href="members-items/"><label class="label-text menu_button">Pesquisa de vendas a Associados</label></a>
                    </fieldset>
                </td>
                <td class="padding-15">
                    <fieldset>
                    <legend>Gestão App</legend>
                        <a href="admin/"><label class="label-text menu_button">Gestão de utilizadores</label></a>
                    </fieldset>
                </td>
            </tr>
        </table>
{% endblock %}
