<!DOCTYPE html>
<html lang="pt">
<head>
    <title>CdC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/cdc.css">
</head>
<body>
    <div class="container">
        <table class="full_width">
            <tr>
                <td>
                    <h1 class="my-4">Gestão de Quotas</h1>
                </td>
                <td class="align_right">
                    <a href="https://www.casadocaminho-ce.pt/"><img src="/cdc_logo.jpg" style="float:right;width:15%;height:15%;" alt="Casa do Caminho"></a>
                </td>
            </tr>
        </table>

        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a href="members/create"><label class="label-text menu_button">Criar novo Associado</label></a>
                        <br><br>
                        <a href="members/"><label class="label-text menu_button">Lista de Associados</label></a>
                        <br><br>
                        <a href="dues_payments/"><label class="label-text menu_button">Gestão de quotas mensais</label></a>
                        <br><br>
                        <a href="member_due_payment/pivot_table"><label class="label-text menu_button">Lista de associados e quotas</label></a>
                    </div>

                    <div class="col-md-6">
                        <a href="dashboard1/"><label class="label-text menu_button">Dashboards</label></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>