{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_header %}Login{% endblock %}
{% block content_in_div %}
        <div class="card">
            <div class="card-body">
                <div class="row mb-0">
                    <div class="col-md-5">
                        <form method="post">
                            <label class="form-label label-text align_left" for="client_id">Username</label>
                            <input class="form-control-plaintext data-text align_left" type="text" id="client_id" name="client_id">
                            <br>
                            <label class="form-label label-text align_left" for="client_secret">Password</label>
                            <input class="form-control-plaintext data-text align_left" type="password" id="client_secret" name="client_secret">
                            <br>
                            <button class="btn btn-primary mb-1" type="submit">Login</button>
                        </form>
                    </div>
                </div>
                {% if error %}
                    <br><p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
{% endblock %}
