{% extends "base.html" %}
{% block title %}Lista Associados/Quotas{% endblock %}
{% block page_header %}Lista de associados e quotas{% endblock %}
{% set form_action = "pivot_table" %}
{% block content_in_div %}
{% include "_form_filter_between_dates.html" %}
{%- endblock %}

{% macro show_table(class_style="table-dark", table_header="Quotas pagas", df=df_paied) -%}

    <br>

    <h3>{{ table_header }}</h3>
    <table class="table table-striped table-bordered">
        <thead class="{{ class_style }}">
            <tr>
                <th class="align_right">ID</th>
                <th class="align_left">Nome</th>
                <th class="align_right">Total</th>
                {%- for col in columns %}
                <th class="align_center">{{ col }}</th>
                {%-  endfor %}
            </tr>
        </thead>
        <tbody>
        {%- for row in df %}
            <tr>
                <td class="align_right"><a href="../members/{{ row["member_id"] }}/show">{{ row["member_id"] }}</a></td>
                <td class="align_left">{{ row["name"] }}</td>
                <td class="align_right">{{ row["total"] }} €</td>
                {%- for col in columns %}
                <td class="align_right">{% if row[col] %}{{ row[col] }} €{% endif %}</td>
                {%-  endfor %}
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% block content_out_div %}
    {{ show_table("table-dark", "Quotas pagas", df_paied) }}

    {{ show_table("table-light", "Quotas em atraso", df_missing) }}
{% endblock %}