{% extends "base.html" %}
{% block title %}Gerir Acessos{% endblock %}
{% block page_header %}Gestão de Acessos{% endblock %}
{% block content_in_div %}
    <br>
    <h2>Clientes bloqueados</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-warning">
            <tr>
                <th class="align_center">Cliente</th>
                <th class="align_center">Status code</th>
                <th class="align_left">Data</th>
                <th class="align_left">URL</th>
                <th class="align_center">Acção</th>
            </tr>
        </thead>
    {% for client, data in blocked_clients.items() %}
        <tr>
            <td class="align_center">{{ client }}</td>
            <td class="align_center">{{ data["status_code"] }}</td>
            <td class="align_left">{{ data["when"] }}</td>
            <td class="align_left">{{ data["url"] }}</td>
            <td class="align_center">
                <form action="unblock" method="post">
                    <input type="text" class="hidden" name="client" value="{{ client }}">
                    <button type="submit">desbloquear</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}