{% extends "base.html" %}
{% block title %}Editar Associado{% endblock %}
{% block page_header %}Associado {{ member.member_id }}{% endblock %}
{% block content_in_div %}
    <div class="card">
        <div class="card-body">
            <form method="post" action="update">
            <div class="row mb-0">
                <div class="col-md-2">
                    <label class="form-label label-text align_center">Activo</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.is_active }}</p>
                    <label class="form-label label-text align_center">Data de início</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.start_date }}</p>
                    <label class="form-label label-text align_center">Quota Mensal</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.amount }}</p>

                    <label class="form-label label-text align_center">Meses em atraso</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.total_months_missing }}</p>
                    <label class="form-label label-text">Valor em atraso</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.total_amount_missing }} €</p>
                    <label class="form-label label-text">Meses pagos</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.total_months_paid }}</p>
                    <label class="form-label label-text">Valor pago</label>
                    <p class="form-control-plaintext data-text align_center">{{ member.total_amount_paid }} €</p>
                </div>
                <div class="col-md-10">
                    <label class="form-label label-text">Nome</label>
                    <p class="form-control-plaintext data-text"><input class="form-text input_edit" type="text" id="name" name="name" placeholder="10.0" value="{{ member.name }}" required></p>
                    <label class="form-label label-text">Contacto</label>
                    <p class="form-control-plaintext data-text"><input class="form-text input_edit" type="text" id="tlf" name="tlf" placeholder="10.0" value="{{ member.tlf }}" required></p>
                    <label class="form-label label-text">Email</label>
                    <p class="form-control-plaintext data-text"><input class="form-text input_edit" type="email" id="email" name="email" placeholder="10.0" value="{{ member.email }}" required></p>
                    <label class="form-label label-text">Notas</label>
                    <p class="form-control-plaintext data-text"><textarea class="form-text input_edit" rows="3" cols="81" id="notes" name="notes" placeholder="Aqui pode escrever as notas sobre este associado">{{ member.notes }}</textarea></p>
                    <hr>
                    <p class="align_center"><button class="btn btn-primary mb-2" type="submit">Salvar alterações</button></p>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}