{% extends "base.html" %}
{% block title %}Criar Associado{% endblock %}
{% block page_header %}Criar novo Associado{% endblock %}
{% block content_in_div %}
    <form method="post" action="create">
        <table class="full_width table table-bordered">
            <tr>
                <td class="label-text align_right">Data Inicio</td>
                <td><input class="form-text" type="date" size="10" id="start_date" name="start_date" placeholder="2024-06-01" value="{{ today }}" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Valor de quota</td>
                <td><input class="form-text" type="number" size="4" id="amount" name="amount" required> €</td>
            </tr>
            <tr>
                <td class="label-text align_right">Nome</td>
                <td><input class="form-text" type="text" size="120" id="name" name="name" placeholder="Nome complecto" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Contacto telefónico</td>
                <td><input class="form-text" type="text" size="10" id="tlf" name="tlf" placeholder="Telemóvel" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Email</td>
                <td><input class="form-text" type="text" size="120" id="email" name="email" placeholder="email@domain.com"></td>
            </tr>
            <tr>
                <td class="label-text align_right">Notas</td>
                <td><textarea class="form-text" rows="3" cols="120" id="notes" name="notes" placeholder="Notas de Associado"></textarea></td>
            </tr>
            <tr>
                <td class="align_center" colspan="2">
                    <button class="btn btn-primary mb-2" type="submit">Criar novo Associado</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}