{% extends "base.html" %}
{% block title %}Editar Categoria{% endblock %}
{% block page_header %}Categoria {{ category.category_id }}{% endblock %}
{% block content_in_div %}
    <div class="card">
        <div class="card-body">
            <form method="post" action="update">
            <div class="row mb-0">
                <div class="col-md-2">
                    <label class="form-label label-text">Quantidade vendida</label>
                    <p class="form-control-plaintext data-text align_center">{{ category.total_quantity_sold }}</p>
                    <label class="form-label label-text">Valor vendido</label>
                    <p class="form-control-plaintext data-text align_center">{{ category.total_amount_sold }} €</p>
                </div>
                <div class="col-md-10">
                    <label class="form-label label-text">Nome</label>
                    <p class="form-control-plaintext data-text"><input class="form-text input_edit" type="text" id="name" name="name" placeholder="Nome da categoria" value="{{ category.name }}" required></p>
                    <label class="form-label label-text">Notas</label>
                    <p class="form-control-plaintext data-text"><textarea class="form-text input_edit" rows="3" cols="81" id="notes" name="notes" placeholder="Notas da categoria">{{ category.notes }}</textarea></p>
                    <p class="align_center"><button class="btn btn-primary mb-2" type="submit">Salvar alterações</button></p>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}