{% extends "base.html" %}
{% block title %}Criar Categoria{% endblock %}
{% block page_header %}Criar nova Categoria{% endblock %}
{% block content_in_div %}
    <form method="post" action="create">
        <table class="full_width table table-bordered">
            <tr>
                <td class="label-text align_right">Nome</td>
                <td><input class="form-text" type="text" size="120" id="name" name="name" placeholder="Nome complecto" required></td>
            </tr>
            <tr>
                <td class="label-text align_right">Notas</td>
                <td><textarea class="form-text" rows="3" cols="120" id="notes" name="notes" placeholder="Notas de Associado"></textarea></td>
            </tr>
            <tr>
                <td class="align_center" colspan="2">
                    <button class="btn btn-primary mb-2" type="submit">Criar nova Categoria</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}