{% extends "base.html" %}
{% block title %}Lista de Rúbricas{% endblock %}
{% block page_header %}Lista de Rúbricas - {{ total_results }}{% endblock %}
{% block content_in_div %}
    <div class="padding-15">
    <form class="form-inline" method="get">
        <input class="form-text" type="text" size="40" id="search_text" name="search_text" placeholder="Pesquise por qualquer texto">
        <button class="btn btn-primary mb-2" type="submit">Pesquisar</button>
    </form>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th class="align_right">Rúbrica ID</th>
                <th>Nome</th>
                <th>Notas</th>
                <th class="align_right">Total quantidade</th>
                <th class="align_right">Total valor</th>
            </tr>
        </thead>
        <tbody>
            {% for ea in expense_accounts %}
                <tr>
                    <td class="align_right"><a href="{{ ea.ea_id }}/show">{{ ea.ea_id }}</a></td>
                    <td class="align_left">{{ ea.name }}</td>
                    <td class="align_left">{{ ea.notes }}</td>
                    <td class="align_right">{{ ea.total_quantity_seller_sold }}</td>
                    <td class="align_right">{{ ea.total_amount_seller_sold }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}