{% extends "base.html" %}
{% block title %}Editar Rúbrica{% endblock %}
{% block page_header %}Rúbrica {{ expense_account.ea_id }}{% endblock %}
{% block content_in_div %}
    <div class="card">
        <div class="card-body">
            <form method="post" action="update">
            <div class="row mb-0">
                <div class="col-md-12">
                    <label class="form-label label-text">Nome</label>
                    <p class="form-control-plaintext data-text"><input class="form-text input_edit" type="text" id="name" name="name" placeholder="Nome da rúbrica" value="{{ expense_account.name }}" required></p>
                    <label class="form-label label-text">Notas</label>
                    <p class="form-control-plaintext data-text"><textarea class="form-text input_edit" rows="3" cols="81" id="notes" name="notes" placeholder="Notas da rúbrica">{{ expense_account.notes }}</textarea></p>
                    <p class="align_center"><button class="btn btn-primary mb-2" type="submit">Salvar alterações</button></p>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}